<!DOCTYPE html>
<html>
<head>
  <title>Edit Room</title>
</head>
<body>
  <h2 style="text-align:center;">Edit Room</h2>
 <form action="/rooms/updateRoom/<%= room.roomId %>" method="POST" style="width: 300px; margin: auto;">
  <label>Type:</label><br>
  <select name="type" required>
    <% roomTypes.forEach(type => { %>
      <option value="<%= type %>" <%= room.type === type ? 'selected' : '' %>><%= type %></option>
    <% }) %>
  </select><br><br>

  <label>Charges/Day:</label><br>
  <input type="number" name="charges_per_day" value="<%= room.charges_per_day %>" required><br><br>

  <label>Status:</label><br>
  <select name="status" required>
    <% roomStatuses.forEach(status => { %>
      <option value="<%= status %>" <%= room.status === status ? 'selected' : '' %>><%= status %></option>
    <% }) %>
  </select><br><br>

  <button type="submit">Update</button>
</form>

  <div style="text-align:center; margin-top:20px;">
    <a href="/rooms">Back to List</a>
  </div>
</body>
</html>
